<!DOCTYPE html>
<html>
<body>

    <h2>Actor Details:</h2>
    <br>
    <u>
        <li><strong>Name:</strong> {{ actor.name }}</li>
        <li><strong>Birthdate:</strong> {{ actor.birthdate }}</li>
        <li><strong>Birth Place:</strong> {{ actor.birth_place }}</li>
        <li><strong>Nationality:</strong> {{ actor.nationality }}</li>
        <li><strong>Movies:</strong>
            <u>
                {% for movie in actor.movies.all %}
                    <li>{{ movie.title }}</li>
                {% endfor %}
            </u>
         </li>

        <br>

    </u>
    <br>
    <a href="/website/actor_edit/{{ actor.id }}">Update Actor</a>
    
</body>
</html>