<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Korean Drama</title>
</head>
<body>

<h1>Welcome to Korean Drama Website</h1>
<br>
<h2>Movie Section</h2>

<u1>
    <li><a href="/website/list/">List of Movies</a></li>
    <br>
    <li><a href="/website/add/">Add Movie Here</a></li>
</u1>
<br>
<h2>Actor Section</h2>
    <li><a href="/website/actor_list/">List of Actors</a></li>
    <br>
    <li><a href="/website/actor_add/">Add Actor Here</a></li>
</body>
</html>