<!DOCTYPE html>
<html>
<body>

    <h2>Movie Details:</h2>
    <br>
    <u>
        <li><strong>Title:</strong> {{ show.title }}</li>
        <li><strong>Description:</strong> {{ show.description }}</li>
        <li><strong>Director:</strong> {{ show.director }}</li>
        <li><strong>Release Year:</strong> {{ show.release_year }}</li>
        <li><strong>Rating:</strong> {{ show.rating }}</li>

        <br>

    </u>
    <br>
    <a href="/website/edit/{{ show.id }}">Update Movie</a>
    
</body>
</html>